@use "./colors" as *;
@use "./fonts" as *;

@mixin shadow{
  box-shadow: 0px 1px 2px 0 $neutral300;
}

/* Main */
body{
  margin: 16px;
  background: $neutral200;
  min-height: 100dvh;
}
#root, .App{
  height: 100%;
}

header, .extension, .filter{
  background-color: $neutral0;
  border: none;
  @include shadow;
}

header{
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  button{
    border: none;
    background-color: $neutral100;
    width: 48px;
    height: 48px;
    margin-left: auto;
    border-radius: 8px;
  }
}

#filterContainer{
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
  .filter{
    padding: 8px 12px;
    border-radius: 16px;
    @include med-font;
  }
  .selected{
    background-color: $red700;
    color: $neutral0;
  }
}

.title{
  width: 100%;
  text-align: center;
  @include bold-font;
  color: $neutral900;
}

#list{
  gap: 8px;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  .extension{
    border-radius: 16px;
    padding: 16px;
    display: grid;
    grid-template-columns: 25% 75%;

    > :nth-child(2){
      @include bold-font;
      color: $neutral700;
      margin-bottom: 48px;
      p{
        margin: 0;
      }
      > :nth-child(2){
        @include reg-font;
        grid-column: span 2;
        font-size: 14px;
      }
    }
    .control{
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-column: span 2;
      .remove{
        background: none;
        border: 1px solid $neutral300;
        padding: 6px 12px;
        border-radius: 16px;
        @include med-font;
      }
    }
  }
}