@use "colors" as *;

.switch {
  -webkit-tap-highlight-color: transparent;
  font-size: 17px;
  position: relative;
  display: inline-block;
  min-width: 2.5em;
  width: 2.5em;
  height: 1.5em;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked+.slider {
      background-color: $red700;
      &:hover{
        background-color: $red500;
      }
      &::before{
        transform: translateX(1em);
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $neutral300;
    transition: .4s;
    border-radius: 32px;
    &::before {
      position: absolute;
      content: "";
      height: 1em;
      width: 1em;
      border-radius: 50%;
      left: 4px;
      bottom: 4.5px;
      background-color: $neutral0;
      transition: transform .25s ease-in-out 0s;
    }
  }
}